#LoginTable{
    float:left;
}

.box{
    margin-left:10px;
    margin-right:30px;
    margin-bottom:30px;
    padding:5px;
    border: 1px solid black;
}

th{
    background-color:green;
    color:white;
    text-align:center;
}